.pane {
         background:url("../img/background2.jpg") no-repeat fixed;
         background-size: 100% 100%;

}

/* Empty. Add your own CSS if you like */
.buttonMiddle{
    padding-left:20%;
    padding-right:20%;
}

.title{


}

.imgMiddle {
    display: block;
    margin-left: auto;
    margin-right: auto }

.slogan{
    font-family: 'Indie Flower', cursive;
}

.name{
    font-family: 'Pacifico', cursive;
}